{% extends "hotel/consultas.html" %}

{% block content %}

<h2>Crear consulta</h2>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}

    <button class="btn btn-primary" type="submit">crear</button>
    <a href="{% url 'listaConsultas' %}" class="btn btn-secondary">Volver</a>
</form>
<script> 
    window.onload = function() { 
        if (performance.navigation.type === 2) { 
            window.location.href = "{% url 'listaConsultas' %}"; 
        } 
    }; 
</script>

{% endblock  %}