{% extends "hotel/base.html" %}

{% block content %}
    <div class='detail-room'>
        {% if habitacion %}

        {% if habitacion.imagen %}
            <img style="height: 19rem;" src="{{ habitacion.imagen.url }}" alt="imagen de producto">
        {% endif %}

        <h2>Detalles de {{habitacion.num_habitacion}}</h2>

        <div>
            <p>Habitación: {{habitacion.num_habitacion}}</p>
            <p>Tipo de habitacion: {{habitacion.tipo}}</p>
            <p>Numero de camas: {{habitacion.cantidad_camas}}</p>
            <p>Vistas de la habitación: {{habitacion.vistas}}</p>

            <a class="btn btn-primary" href="{% url 'createReserva' habitacion.id %}">Reservar</a>
        </div>
        {% endif %}
    </div>

{% endblock %}