{% extends "hotel/consultas.html" %}

{% block content %}
<h2>Lista Consultas</h2>

{% if consulta %}

{% for c in consulta %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ c.titulo }}</h5>
    <h6>
      {% if request.user.usuario %}
        {{ request.user.usuario.nombre_completo }}
      {% else %}
        Nombre no disponible
      {% endif %}
    </h6>
    <p class="card-text">{{ c.descripcion }}</p>
    <a href="{% url 'eliminarConsultas' c.id %}" class="card-link">eliminar</a>
    <a href="{% url 'modificarConsultas' c.id %}" class="card-link">modificar</a>
    <a href="{% url 'detalleConsulta' c.id %}">Ver Detalles</a>
    {% if request.user.usuario.rol.nombre == 'Administrador' or request.user.usuario.rol.nombre == 'Recepcionista' %}
      <a href="{% url 'responderConsulta' c.id %}">Responder</a>
    {% endif %}
  </div>
</div>

{% endfor %}

{% endif %}

{% endblock  %}