{% extends "hotel/reclamos.html" %} 
    
{% block content %}

<h1>Responder Reclamo: {{ reclamo.titulo }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Enviar Respuesta</button>
    <a class="btn btn-secondary" href="{% url 'listaReclamos' %}">Volver a la lista de reclamos</a>
</form>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock  %}
